@charset "utf-8";
@import url("font.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    color: #191919;
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}
html {
    font-size: 16px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 12px;
    background-color: rgba(137, 115, 88, 0.1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.64px;
    color: #191919;
    word-break: keep-all;
}

/* 공통요소 */
.wrap {
    position: relative;
    background-color: #fffcfc;
}
.inner {
    position: relative;
    max-width: 1800px;
    width: 100%;
    min-width: 640px;

    padding: 0 90px;
    margin: 0 auto;
    /* background-color: yellow; */
}

/* header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ececec;
    z-index: 9999;
}
.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.zulogo {
    width: 100px;
    height: 100px;
}
.header-right {
    display: flex;
    /* justify-content: flex-start; */
    gap: 40px;
    font-size: 20px;
    color: #d85252;
}

